html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
     font-family: Arial, sans-serif;
     background-color: #f5f5f5;
}

/**
    SIGN IN
 **/

 .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.center {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    min-width: 300px;
    padding: 15px 15px 80px 15px;
    margin: 0 auto;
}

.form-signin .logo {
    margin-bottom: 40px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 25px;
}

.form-signin .form-signin-heading,
.login-bottom-links {
    text-align: center;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

/**
  LAYOUT
*/

.k1-page-header {
    clear: both;
    width: 100%;
    min-width: 640px;
    position: absolute;
    z-index: 1;

    background: #265a88;
    border-bottom: 1px solid #2e3d54;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    padding: 0 0 0 10px;
    height: 40px;
}

.k1-page-header a.logo {
    float: left;
    padding: 7px;
}

.k1-page-header nav {
    float: right;
}


.k1-page-header nav ul {
    margin:0;
    padding: 0;
}

.k1-page-header nav > ul > li {
  display: inline-block;
}

.k1-page-header a {
    color: #fff;
    display: block;
    line-height: 1;
    padding: 13px 10px;
}



.k1-content-container {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
}

.k1-sidebar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    min-width: 180px;
    max-width: 180px;

}

.k1-page-content {
    -webkit-flex: 1;
            flex: 1;

    border-left: 1px solid #ccc;
    background-color: #fff;
    min-height: 100%;

    padding-bottom: 30px;
}

.k1-page-content > .row {
    background-color: #fff;
}

.k1-page-content > .row.k1-content-header  {
    background-color: #f5f5f5;
}

.k1-content-header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 15px 0;


}

.k1-sidebar,
.k1-page-content {
    padding-top: 60px;
}

.profile-info {
  min-width: 180px;
  position: relative;
}

.profile-info .avatar {
    position: absolute;
    top:-4px;
    right: 0;
}

.breadcrumb {
    padding: 0 15px 5px 0;
    margin-bottom: 10px;
    list-style: none;
    background-color: transparent;
}

/**
    PAGES
*/
.k1-heading-row {
    margin-bottom: 15px;
}

.k1-heading-row h1,
.k1-heading-row h2,
.k1-heading-row h3 {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

h1, h2, h3 {
    font-weight: normal;
}


h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    line-height: 1.5;
}

h3 {
    font-size: 16px;
    line-height: 1.5;
}

/**
    SIDEBAR
*/

li.divider {
    border-top: 1px solid #ddd;
}

.k1-sidebar ul,
.dropdown-menu ul {
    padding: 0;
}

.k1-sidebar ul li,
.dropdown-menu ul li {
    list-style: none;
}

.k1-sidebar ul li a,
.dropdown-menu ul li a {
    color: #3572b0;
    display: block;
    line-height: 1.14;
    padding: 10px;
    word-wrap: break-word;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    font-weight: normal;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.k1-sidebar ul li.active a,
.k1-sidebar ul li:hover a,
.dropdown-menu ul li.active a,
.dropdown-menu ul li:hover a {
    background-color: #e6e6e6;
}

.k1-sidebar i,
.dropdown-menu i {
    color: #707070;
    margin-right: 10px;
    font-size: 16px;
}

.dropdown-menu > li > a.disabled {
    color: #CCC;
}


/**
    TABLES
**/
.table.nowrap td,
.table td.nowrap {
    white-space: nowrap;
    max-width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table tr.root td {
    font-weight: 600;
}

.table tr:hover td {
    background-color: #f5f5f5;
}

.table.invert-border tr:first-child td {
    border-top:none;
}

/**
    DASHBOARD
**/

.user-name {
    margin-top: 0;
}

/**
    PROFILE
*/
section.profile {
    background-color: #f5f5f5;
    display: table;
}

.profile .avatar-container,
.profile .info {
    display: table-cell;
    vertical-align: middle;
}

.profile .avatar {
    float:left;
    margin: 7px 30px 7px 15px;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.profile .user-name {
    margin-bottom: 0px;
    line-height: 20px;
}

.profile .user-name span{
    font-size: 0.8em;
    color:#333;
}

.profile .user-last-login {
    margin-top: 10px;
}

/**
    Activity Feed
*/

.activity-feed .thumb {
    float:left;
}

.activity-feed .text {
    padding-left: 25px;
    line-height: 23px;
}

.activity-feed .story {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.activity-feed .story-content {
    padding-left: 50px;
}


.activity-feed .story:hover {
    /* background-color: #f5f5f5; */
}

.activity-feed .user-avatar {
    float:left;
    margin-right: 10px;
}

.activity-feed em {
    font-size: 0.75em;
    color:#888;
    display: block;
}

/**
    MISC
**/

.actionbar {
    text-align: right;
}

.tab-pane {
    padding-top: 20px;
}

.wysihtml5-toolbar a {
    color: #666;
}
.wysihtml5-toolbar li.dropdown {
    border: #EFEFEF 1px solid;
    border-radius: 3px;
}
.wysihtml5-sandbox {
    width: 100% !important;
    min-height: 500px;
}

.tooltip.bigger .tooltip-inner {
    max-width: 325px;
    /* If max-width does not work, try using width instead */
    width: 325px;
    padding: 5px;
}

.form-control.select2-container .select2-choices {
    min-height:46px;
    padding-top: 3px;
}

.select2-container-multi .select2-choices {
    background-image: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    background: #ceebff !important;
    border-color: #afd6f1 !important;
}

.select2-container-multi .select2-choices .select2-search-choice div {
    line-height: 1.2;
    font-size: 14px;
}

.users-table .avatar {
    margin-right: 10px;
}
.users-table td, .users-table th {
    vertical-align: middle !important;
}

.header-search {
    border-radius: 3px;
    color: #333;
    padding: 3px;
    border: none;
}

.header-search:focus {
    width: 250px;
}

project.root {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-bottom: 3px solid #d7d7d7;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    width: 280px;
    height: 260px;
    margin: 0 8px 16px 0;
    float: left;
    text-align: center;
}

project.root .avatar {
    text-align: center;
    margin: 20px;
}

project.root > h2 {
    height: 55px;
    line-height: 57px;
    border-bottom: 1px solid #ececec;
    font-size: 18px;
    font-weight: normal;
    clear: both;
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

project.root > h3 {
    height: 50px;
    white-space: word-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

project.root > h4 {
    color: #a6a9ae;
    padding: 10px 20px 0 20px;
    margin: 0;
    margin-top: 30px;
    white-space: nowrap;
    font-size: 14px;
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis;
}

project.root > h4 span {
    color: #333;
}

project.root em {
    color: #a6a9ae;
    padding: 10px 20px 10px 20px;
    display: block;
}

project .btn-row {
    height: 20px;
}

.mobileNav { display: none; }

.cases-filter th {
    background-color: #f5f5f5;
}
.cases-filter input,
.cases-filter select {
    border: #CCC 1px solid;
    border-radius: 5px;
    padding: 3px;
    font-weight: normal;
    font-size: 12px;
    width: 100%;
}
.cases-filter .hidden-submit {
    position: absolute;
    left: -9999px;
}

.profile-projects .btn-row {
    display: inline-block;
}

.nested-list li {
    list-style-type: none;
}
.nested-list li .dd-handle {
    background-color: #EFEFEF;
    border: #CCC 1px solid;
    border-radius: 3px;
    padding: 4px 4px 4px 10px;
    margin: 2px 0;
    display: inline-block;
    min-width: 300px;
}

.nested-list .project-marker {
    min-width: 40px;
    display: inline-block;
    font-size: 16px;
    color: #666;
}
.nested-list .project-marker i {
    color: #337ab7;
}
.nested-list .project-marker.active {
    cursor: pointer;
}

.nested-list ul:first-child {
    margin-left: 0;
    padding-left: 0;
}

.nested-list li.collapsed ul {
    display: none;
}

.comment-form {
    margin-top: 20px;
}

.error-page {
    max-width: 600px;
    margin: 0 auto;
}
.error-page.headline {
    margin-bottom: 40px;
}

.error-page h1 {
    font-size: 36px;
}

/**
    MEDIA QUERIES
**/

@media (max-width: 992px) {
    .header-search:focus {
        width: 200px;
    }


    .k1-sidebar {
        min-width: 42px;
        max-width: 42px;
        overflow: hidden;
        width:42px;
    }
}

@media (max-device-width: 640px) {
    .header-search:focus {
        width: 200px;
    }

    .k1-content-container,
    .k1-page-header {
        min-width: 0;
    }

    .profile .avatar {
        width: 44px;
        height: 44px;
    }

    .mobileNav { display: block; }

    .profile .avatar-container,
    .activity-feed .user-avatar,
    .table.mobileFriendly thead,
    .table.mobileFriendly tfoot,
    .headerNav,
    .k1-sidebar {
        display: none;
    }

    .k1-heading-row h1 {
        margin-bottom: 20px;
    }

    .k1-heading-row .btn {
        width: 100%;
    }

    .k1-heading-row .col-xs-7,
    .k1-heading-row .col-xs-5,
    .k1-heading-row .col-xs-9,
    .k1-heading-row .col-xs-3 {
        display: block;
        width: 100%;
    }

    .noMobile {
        display: none !important;
    }

    .mobileOnly {
        display: block !important;
    }


    .table.mobileFriendly tr {

    }

    .table.mobileFriendly td {
        border:none;
        display: block;
        padding:5px;
    }

    .table.mobileFriendly td:last-child {
        border-bottom:1px solid #ddd;
    }

    .mobileNav .dropdown {
        position: static;
    }

    .mobileNav .dropdown-menu {
        background-color: #f5f5f5;
        width: 100%
    }

    .activity-feed {
        margin-top: 20px;
    }

}

.copyright {
    text-align: center;
    margin-top: 30px;
}

textarea.form-control {
    height: 100px;
}

.activity-feed .story:last-child {
    border-bottom: none;
}

.client-attr {
    margin-bottom: 20px;
}


.documentation-page {
    max-width: 920px;
}

.documentation-page img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.move {
    color: #CCC;
}

.move span:before {
    margin-right: 0 !important;
}

.move-down span:before {
    margin-right: 0.5em !important;
}

.page-contents {
    border: #CCC 1px solid;
    background-color: #EFEFEF;
    display: inline-block;
    padding: 1em;
    margin-bottom: 20px;
    min-width: 200px;
}

.page-contents h3 {
    padding: 0;
    margin: 0 0 20px 0;
}

.page-contents ol > li,
.page-children-full ol.page-list > li {
    list-style-type: none;
}


/** .page-contents ol,
.page-children-full ol { counter-reset: item; padding-left: 20px; }
.page-contents ol li,
.page-children-full ol.page-list > li { display: block; padding: 3px 0; }
.page-contents ol li:before,
.page-children-full ol.page-list > li:before { content: counters(item, ".") ". "; counter-increment: item; }
.page-children-full ol.page-list > li:before { font-size: 20px; }
*/

.page-children-full ol.page-list {
    padding: 0 0 0 0;
    margin: 0;
}

.page-children-full ol.page-list:first-child {
    padding: 0 0 0 0;
    margin: 0;
}

.page-children-full ol.page-list li {
    padding: 0;
    margin: 0;
}



.page-children-full ol.page-list li h2 {
    display: inline-block;
}

@media print {
    .k1-page-header,
    .k1-sidebar {
        display: none;
    }
}

td.firstWordUppercase {
    display: block;
}

td.firstWordUppercase:first-letter {
    text-transform: uppercase;
}