.site-header {
	margin: 3.5em 0;
}

.site-header .site-nav {
	margin-top: 2em;
}

.site-header .site-nav ul li {
	display: inline-block;
	margin: 0 1.2em;
}
.site-header .site-nav ul li:last-child {
	margin-right: 0;
	margin-left: 2em;
}

.site-header .site-nav a {
	display: inline-block;
	text-transform: uppercase;
}

.site-header .site-nav a:hover {
	text-decoration: none;
}

.site-header .site-nav .main-menu > li.active > a {
	color: rgba(255, 78, 80, 0.7);
}

.site-header .site-nav .main-menu > li.active > a > span:after {
  background: rgba(255, 78, 80, 0.7);
}

.site-header .site-nav .main-menu > li > a span:after {
  display: block;
  content: '';
  height: 2px;
  background: transparent;
  -moz-transition: all 350ms;
  -o-transition: all 350ms;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

section.breadcrumb {
	padding: 3.5em 0;
}

ol.breadcrumb {
	padding: 0;
	margin: 10px 0 0 0;
}

ol.breadcrumb li a {
	color: #999;
}

section.breadcrumb h1 {
	margin: 0;
}

section.blog {
	margin-top: 4em;
}

section.blog .col-sm-8 {
	border-right: #EFEFEF 1px solid;
}

section.blog .sidebar {
	margin-left: 60px;
}

section.blog .sidebar h3 {
  margin-top: 0;
  font-size: 19px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}

section.blog .blog-posts {
	padding-right: 3.5em;
}

section.blog .sidebar .sidebar-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.blog .sidebar .sidebar-content ul li {
  display: block;
  padding: 10px 10px;
}
section.blog .sidebar .sidebar-content ul li.active a {
	font-weight: bold;
}
section.blog .sidebar .sidebar-content ul li a {
  -moz-transition: all 350ms;
  -o-transition: all 350ms;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
section.blog .sidebar .sidebar-content ul li a span {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-left: 5px;
}
section.blog .sidebar .sidebar-content ul li a:hover {
  color: #ff4e50;
}
section.blog .sidebar .sidebar-content ul li a:before {
  display: inline-block;
  content: '\e879';
  font-family: 'entypo';
  font-size: 13px;
  color: #999999;
  margin-right: 10px;
}
section.blog .sidebar .sidebar-content ul > li {
  border-bottom: 1px solid #f2f2f2;
}
section.blog .sidebar .sidebar-content ul > li:last-child {
  border-bottom: 0;
}

section.blog .post-meta {
	margin-bottom: 1em;
}

section.blog .blog-post {
	margin-bottom: 4em;
}

section.blog .blog-post h3 {
	margin-top: 0;
}

.footer-widgets {
	color: #999;
	border-top: #EFEFEF 1px solid;
	padding-top: 4em;
	margin-bottom: 4em;
}

.footer-widgets h5 {
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	color: #666;
}

.site-footer {
	background-color: #eee;
	padding: 2.5em 0;
}

.contact-map {
	height: 300px;
	margin-bottom: 3em;
}

.contact-container p {
	color: #999;
}

.contact-container h4 {
	margin-bottom: 1.5em;
}

.contact-container .info-entry {
	margin-bottom: 2em;
}

.contact-container .btn.btn-primary {
	text-transform: uppercase;
}

.contact-container .contact-form-wrapper {
	padding-right: 3em;
	border-right: #EFEFEF 1px solid;
}

.post-additionals ul {
	margin: 1.5em 0;
}
.post-additionals ul li {
	margin: 0.75em 0;
}
.post-additionals a {
	color: #326a95;
}
.search-form input {
	border: #EFEFEF 1px solid;
	border-radius: 3px;
	padding: 3px;
}

.mobileNav .dropdown {
    position: static;
}

.mobileNav .dropdown-menu {
    background-color: #f5f5f5;
    width: 100%
}

.logo {
    height:70px;
}

.site-logo {
    max-width: 280px;
    overflow: hidden;
}

.blog-posts img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 7px;
}

@media (max-width: 767px) {
    .site-header {
        margin: 0;
    }

    .site-header .site-nav ul {
        padding:0;
        margin: 0 10px 10px;
    }

    .site-header .site-nav ul li,
    .site-header .site-nav ul li:last-child {
        display: block;
        margin: 0;
        padding: 0;
    }

    .site-header .site-nav ul li a {
        display: block;
        line-height: 1;
        padding: 13px 10px;
    }

    .site-header .site-nav ul li.active a {
        text-decoration: underline;
    }

    .site-header .site-nav ul li form i {
        display: none;
    }

    .site-header .site-nav ul li form input {
        width:100%;
    }

    .site-logo {
        margin-top: 20px;
    }

    .site-header .site-nav {
        margin-top: 20px;
    }

    .logo {
        height:30px;
    }

    section.blog {
        margin-top: 0;
    }

    section.blog .sidebar {
        display: none;
    }

    .sidebar h3 {
        font-size: 18px;
        padding-left: 20px;
    }

    .sidebar h3 i {
        display: none;
    }
}